{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static',filename='assets/img/contact-bg.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Post Your Blog Here</h1>
                            <span class="subheading">We Believe You Are The Best !😀</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Enter your blog in below text area! </p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/blogupload" method="POST">
                                

<div class="form-floating">
                                    <input class="form-control" id="title" name = "title" type="text" placeholder="Enter your blog title..." data-sb-validations="required" />
                                    <label for="name">Blog Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A blog title is required.</div>
                                </div>

                              <div class="form-floating">
                                    <textarea class="form-control" id="content" name="content" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
<div class="form-floating">
                                    <input class="form-control" id="name" name = "name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">Author name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
<div class="form-floating">
                                    <input class="form-control" id="email" name="email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" />
                                    <label for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>

                                    <label for="message">Blog</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">Your Thoughts are required!!</div>
                                </div>
                                <br/>
                                <!-- Submit success message-->
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="{% if success == True %}d-block{% else %}d-none{% endif %}" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Blog Uploaded Successful!</div>
                                      
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="{% if success == False %}d-block{% else %}d-none{% endif %}" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error uploading <blog></blog>!</div></div>

                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit" value = "submit" >Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% endblock %}
