{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        

        <header class="masthead" style="background-image: url({{ url_for('static',filename='assets/img/home-bg.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params['home_name']}}</h1>
                            <span class="subheading">{{params['Heading']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Post preview-->
                    {% if posts %}
                    {% for post in posts[:5] %}
                    <div class="post-preview">
                        <a href="{{ url_for('post.post', post_id=post['id']) }}">
                            <h2 class="post-title">{{ post['title'] }}</h2>
                            <h3 class="post-subtitle">{{ post['content'][:120] }}...</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="post">{{ post['author'] }}</a>
                            on {{ post['created_at'] }}
                        </p>
                        <hr>
                    {% endfor %}
                    {% else %}
                    <p>No posts found.</p>
                    {% endif %}

                    <hr class="my-4" />
                    <!-- Pager-->

                    <div id="pagination-controls" class="d-flex justify-content-end mb-4">
    {% if current_page > 1 %}
        <a class="btn btn-primary text-uppercase ms-2" href="{{ url_for('home.home', page=current_page-1) }}">← Newer Posts</a>
    {% endif %}
    <a class="btn btn-primary text-uppercase ms-2" href="{{ url_for('home.home', page=current_page+1) }}">Older Posts →</a>
</div>

            </div>
        </div>
{% endblock %}

